[2018-02-19 03:02] elvdm opened #1 "Some JSON-accepting controller actions not returning JSON"
e.g. LookupController, actionIndex method

Needs a `return` in front of `$this->asJson($response)`, because otherwise a JSON response is not returned as expected.

[2018-02-26 19:56] lindseydiloreto commented on #1
Thanks for the heads up! Fixed in **v3.0.1**.

[2018-02-26 19:56] #1 closed

[2018-03-09 18:20] dsmrt opened #2 "Using Craft's web request within the SmartMapService"
Not sure if this is the right place to submit this bug but here I am.

I use the Craft's CLI regularly and love your plugin but I just ran into a problem with the SmartMapService here: https://github.com/doublesecretagency/craft-smartmap/blob/v3/src/services/SmartMapService.php#L364

You are checking for if the request is post (`Craft::$app->request->getIsPost()`) and this breaks when using the cl

[2018-03-09 18:39] lindseydiloreto commented on #2
Good catch, thanks! I'll make some adjustments, and report back here when it's done.

[2018-03-09 19:08] dsmrt commented on #2
Thanks Lindsey! Love the plugin!

[2018-03-16 04:48] lindseydiloreto commented on #2
Hey Damien, this should be fixed in v3.0.2... Go ahead and update when you get a chance!

[2018-03-16 04:48] #2 closed

[2018-03-30 17:15] nateiler opened #3 "FilterCriteria::target attribute does not exist on model"
https://github.com/doublesecretagency/craft-smartmap/blob/73dcc9df02f3786b47f4f3bdf52163944102750d/src/services/SmartMapService.php#L407

I'm trying to return results using haversine from explicit geo coordinates.

This is what I'm passing
[code]

The 'target' attribute is getting interpreted properly, but the attribute itself isn't getting removed from the array and therefore throwing an error wh

[2018-03-31 05:40] lindseydiloreto commented on #3
Hey Nate, thanks for the heads up!

I'm partially understanding what your talking about... and if I understand correctly, your solution makes perfect sense.

I'll hit you up on Craft Slack first though, to get clarification before I make any changes. 👍

[2018-04-02 18:18] lindseydiloreto commented on #3
After chatting on Slack, sounds like this was a non-issue.

[2018-04-02 18:18] #3 closed

[2018-04-03 23:02] keithmancuso opened #4 "Feature request: add support for CraftQL"
We've been using [mark's new CraftQl plugin ](https://github.com/markhuot/craftql) but hit a wall because of support for the smart map fieldtype!

he has a documented way to add support for the fieldtype which seems pretty straightforward. Any chance you'd consider adding this?

https://github.com/markhuot/craftql#third-pary-field-support

[Mark had shown how to do it with a similar map plugin ](h

[2018-04-03 23:12] lindseydiloreto commented on #4
On the roadmap already! I'll try to get it added soon-ish.

The whole GraphQL/CraftQL thing is still pretty new to me, so there might be a slight learning curve here.

[2018-04-07 16:40] lindseydiloreto commented on #4
Added in v3.1.0 👍

[2018-04-07 16:40] #4 closed

[2018-04-10 21:58] lindseydiloreto opened #5 "Make compatible with CP Field Inspect"
Minor overlapping text...
<img width="827" alt="gear above right corner" src="https://user-images.githubusercontent.com/5309692/38585668-855aade0-3ccf-11e8-84d4-31f6b6a1d7fc.png">

[2018-04-21 20:30] keithmancuso opened #6 "Feed me support"
Curious if you had any plans to add support for feed me?  As far as i can tell seems like you can add support for it similar to how you did for craftql?

Would be a huge help for a project im working on that involves syncing data from yelp weekly with feedme!

[2018-04-21 23:49] stovepot opened #7 "Options: static Map height not accurately responding"
The options: `height` variable varies on a static map. `{{ craft.smartMap.img(locations, options) }}`

eg: 100 = 160px, 350 = 487px.

All css/js checked however no overrides found.

Running:

PHP version | 7.1.0
-- | --
MySQL 5.6.38
Imagick 3.4.3RC1 (ImageMagick 6.9.6-2)
Craft Solo 3.0.3.1

[2018-04-23 17:46] lindseydiloreto commented on #6
Yup, I absolutely intend to (re)introduce support for Feed Me! I wasn't able to get it into the initial 3.0 release, because Feed Me for Craft 3 hadn't been released yet.

My plan was to do it this week, but I'm getting on a plane for Peers tomorrow. So realistically, I'll be tackling it next week when I get back.

[2018-05-01 21:31] engram-design commented on #6
@keithmancuso We'll be implementing third-party support natively, we'll keep you posted.

[2018-05-01 21:39] lindseydiloreto commented on #6
Brilliant, thanks @engram-design!

[2018-05-01 21:39] #6 closed

[2018-05-08 03:57] lindseydiloreto commented on #6
Support for Smart Map was added to Feed Me in [v3.0.0-beta.12](https://github.com/verbb/feed-me/releases/tag/3.0.0-beta.12)

[2018-05-31 19:00] lindseydiloreto opened #8 "The `filter` mechanism doesn't work with `lat` & `lng` values"
It seems that the the [filter](https://www.doublesecretagency.com/plugins/smart-map/docs/filtering-entries-by-subfield-value) mechanism does not work with `lat` & `lng` values.

[2018-07-06 19:21] lindseydiloreto opened #9 "Replace "FreeGeoIp" with "ipstack""
They bought FreeGeoIp...

[2018-08-02 12:33] darylknight opened #10 "Broken URL in control panel + Google API billing changes"
When configuring the plugin, the link to the instructions is a relative URL and therefore doesn't work.

    <p>To get your Google API keys, <a href="/get-a-google-api-key" target="_blank">follow these instructions...</a></p>

Additional - Google have made changes to their API dashboard and billing requirements. As of July 16th 2018, all uses of the Maps API now require a project with a billing ac

[2018-08-08 23:55] bwlng opened #11 "Error when installing via the `craft` executable"
Installing Smart Map w/ the `craft` executable ends w/ the following error:

    *** failed to install smart-map: Calling unknown method: yii\console\Response::redirect()

Looks like everything installs fine, but the redirect function in `EVENT_AFTER_INSTALL_PLUGIN` should check whether the install is occurring via the CP or executable.

Smart Map v3.1.1
Craft CMS v3.0.19

[2018-08-09 04:32] lindseydiloreto commented on #10
Hi Daryl, thanks for reporting!

For the first issue, it sounds like you started with an early version of Smart Map for Craft 3. When you installed it, the (now slightly outdated) plugin details got stored in `/vendor/craftcms/plugins.php`. Open up that file and find this information for Smart Map.

What it _should_ look like is this...

[code]

The `version` can & should match the current version

[2018-08-09 04:32] #10 closed

[2018-08-09 04:36] lindseydiloreto commented on #11
This is now fixed in v3.1.2.

Thanks for reporting! 🍺

[2018-08-09 04:36] #11 closed

[2018-08-09 08:30] darylknight commented on #10
Thanks Lindsey, now you say that I remember we've had that conversation about documentationUrl before. Thanks!

[2018-08-09 16:06] bwlng commented on #11
Thanks!

[2018-09-23 20:28] piotrpog opened #12 "Stack all fields on top of each other on mobile"
Lets say user sets all fields width to 20%. On desktop it will look ok. On mobile, these field contens will be severely trimmed.
Therefore, i propose adding css breakpoint that would stack all these fields on top each other, if controll panel is displayed on mobile devices.

[2018-09-25 06:31] piotrpog opened #13 "Option to render small map in smartmap field after selecting location"
Often, small map would be more meaningfull to editors than seeing just coordinates in smartmap field.
So, after selecting location, such map should appear along with standard smartmap inputs containing coordinates etc.

[2018-09-25 18:47] piotrpog opened #14 "Setting smartmap field to required does nothing"
I think setting this option for field should make longitude and latitude sub-fields required.

[2018-09-25 19:26] wbrowar opened #15 "Add Eager Loading support"
I've got a page with a map that shows 246 entries that use an Address field. This adds one query for each address field lookup so the page uses up a lot of memory and takes a while to load.

I am using `Craft Blitz` to cache the page, but when the cache is busted and when a visitor goes to this page the entire site goes down when a user loads this page until all of the data is loaded.

**Can Eager

[2018-09-26 05:28] lindseydiloreto commented on #15
Hi Will,

Hard to say what the solution is here... Ping me on Craft Slack and we can discuss it.

[2018-09-26 14:07] timkelty commented on #5
yes, please!

[2018-09-26 17:32] lindseydiloreto commented on #15
Ok, reporting back...

It looks like Craft itself only handles eager loading between related elements. _But_, it may be possible with some simple Yii code.

https://www.yiiframework.com/wiki/834/relational-query-lazy-loadnig-and-eager-loading-in-yii-2-0#eager-loading

I'm not prepared to go down that rabbit hole at this exact moment, so I'm mainly noting this for future reference. We'll leave this

[2018-09-26 17:34] lindseydiloreto commented on #12
This is a great idea!

There's obviously a lot of CSS fanciness happening with the customizable field widths. But I don't see any reason why we couldn't just make all fields 100% below a certain breakpoint.

Thanks for posting! Will leave this open until I get a chance to implement it.

[2018-09-26 18:02] lindseydiloreto commented on #13
Thanks for the feedback. A couple of points to note...

(1) If you click on the "Drag Pin" link, it'll pop up a map of wherever the address has specified. You can then drag the pin (if you want) to make the location even more precise.

(2) My master plan includes an always-visible map next to the address data. Very similar to what you're describing. Not sure when I'll be adding that, probably in t

[2018-09-26 18:06] lindseydiloreto commented on #14
This is a known issue, which has existed for a long time.

The problem is, "required" means different things for different people. Some folks (like you) only care about making the coordinates required. Others want the entire address to be filled out. And yet others only care about subfields that are critical _to them_, like the State or Zip.

I do plan on addressing this in a future version. Thank

[2018-09-26 20:25] jeffaglenn opened #16 "Filter by state or province"
Is there a way to filter addresses based on state/province alone ( e.g. only returning addresses in California)? It looks like filtering by distance requires a range (whether default or custom) so I'm assuming this is not possible?

[2018-09-26 20:32] lindseydiloreto commented on #16
Hi Jeff,

Sounds like you want

[2018-09-26 20:34] lindseydiloreto commented on #16
Hi Jeff,

Sounds like you want filtering by a subfield value...

https://www.doublesecretagency.com/plugins/smart-map/docs/filtering-entries-by-subfield-value

You can do this independently of a search, no need to specify a `target` or `range` if you don't need them.

[2018-09-26 20:36] jeffaglenn commented on #16
Ah, yes! Should have read the docs a little closer...😞 Thank you!

[2018-09-26 20:36] #16 closed

[2018-09-26 20:50] lindseydiloreto commented on #16
No worries!  🙂

[2018-09-29 14:31] piotrpog opened #17 "Get api key from twig"
Admin can set up google maps api key in settings, but is it avaible as variable in twig?
If not, i propose adding such variable, otherwise developer has to enter api key two times, one im plugin settings, second one in twig template.

[2018-09-30 15:59] lindseydiloreto commented on #17
Good news, that already exists!

[code]

Here's the (very simple) code behind it...

https://github.com/doublesecretagency/craft-smartmap/blob/v3/src/variables/SmartMapVariable.php#L102-L112

[2018-09-30 15:59] #17 closed

[2018-09-30 22:12] piotrpog commented on #17
@lindseydiloreto great, thanks.

[2018-10-02 13:03] nilsenpaul opened #18 "Does the plugin support caching of Geocoding results?"
With Google Geocoding being a paid service, does SmartMap offer a way to cache the Geocoding results? Our visitors search by (proximity to) a city, so the same City geocoding request goes to Google over and over ...

[2018-10-02 23:41] lindseydiloreto commented on #18
Ironically, _it used to_ get cached. When I ported the plugin to Craft 3, that was the one tiny feature that got omitted, because I ran out of time.

Now that Google has completely changed their billing structure, it's become an important feature again. I'll look into re-introducing it soon.

[2018-10-03 07:08] nilsenpaul commented on #18
That would be nice, thanks!

[2018-10-04 22:45] piotrpog opened #19 "smartmap field inside supertable looks bad"
When i put smartmap field into supertable field (using table layout), thats what i get:
[https://imgur.com/a/4YwDfrA](url)

This is small css i made for myself, not ideal, but fixes it a little:

[code]

[2018-10-05 06:05] lindseydiloreto commented on #19
Thanks for the heads up, and for the CSS snippet.

I'll try to make this change during the next round of updates. 👍

[2018-10-05 06:19] piotrpog commented on #19
@lindseydiloreto I suggest just changing text links to icon links, they would take much less space.

[2018-10-05 19:59] lindseydiloreto commented on #19
Interesting idea. I may explore icons for a future version.

[2018-10-08 18:10] piotrpog opened #20 "Save zoom level when saving map info"
For every smartmap field i also need to add zoom field. Why not just save in database zoom level that is set during placing marker on map using "drag pin" option?

[2018-10-10 21:02] lindseydiloreto commented on #20
The Smart Map field is just an address, it is not meant to represent a whole map. You can have multiple locations on the same map. There are many variations to rendering map data.

In the Craft control panel, you can easily add a "Zoom" field, and place it beside the address field.

[2018-10-11 10:00] piotrpog commented on #20
Problem with numeric zoom field is that its not intuitive.
With optipn to save zoom level from map, user would actually see how his map would look like

[2018-10-11 19:31] lindseydiloreto commented on #20
That's interesting.

I'll leave this open as a feature request. I may roll it in if/when the address field gets a big overhaul.

[2018-10-18 11:19] timkelty opened #21 "Field values are not translatable/multi-site, despite options showing"
If the field is not multi-site capable (which it doesn't appear to be), you should have a `supportedTranslationMethods` method returning an empty array, or `[self::TRANSLATION_METHOD_NONE]`.

See https://github.com/craftcms/cms/blob/develop/src/base/Field.php#L89-L98

![screen shot 2018-10-18 at 7 19 11 am](https://user-images.githubusercontent.com/18329/47150894-20b5f580-d2a6-11e8-81e9-147b165021

[2018-10-18 13:11] timkelty commented on #21
Once this is released, this will be fixed automagically :) https://github.com/craftcms/cms/commit/106c42ef3cce27b62037c3d923a8d72f7cec00b1

[2018-10-18 13:11] #21 closed

[2018-10-18 21:34] lindseydiloreto commented on #21
Sweet, thanks @timkelty! 🍺

[2018-11-09 00:48] missmatsuko opened #22 "Make field translatable/multi-site capable"
Related issue: #21

I'd like to have addresses spelled differently depending on the locale.
For example, "P.O. 123" in English would be "C.P. 123" in French for the same address (because Canada).

I saw this page as well, but I don't think it's helpful for this situation:
https://www.doublesecretagency.com/plugins/smart-map/docs/internationalization-support

[2018-11-15 11:01] piotrpog commented on #15
@lindseydiloreto
Im in same sitiuation as wbrowar. So, i just wanted to signal my support for adding eager loading functionality to smartmap :)

[2018-11-19 11:13] nilsenpaul commented on #18
Any news on this? Google bills are not funny, hoping to reduce them a bit ...

[2018-11-19 11:19] nilsenpaul commented on #18
What would make me love you even more, is an implementation of this OpenStreetMap's [Nominatim](https://wiki.openstreetmap.org/wiki/Nominatim) 👍

[2018-11-21 20:48] lindseydiloreto commented on #18
I'm working on a Smart Map update right now, I may be able to fix the caching issue while I'm in there. Hopefully it all goes smoothly, and I'll have an update out within the next few weeks.

Thanks for the tip on Nominatim, I'd never heard of that! I'll work it into some future plans. 😉

[2018-12-04 06:14] lindseydiloreto commented on #19
This is (technically) done. As of Smart Map v3.2, we've improved compatibility with Super Table...

<img width="361" alt="Super Table + Smart Map" src="https://user-images.githubusercontent.com/5309692/49422333-56c11300-f748-11e8-8839-b70f88251da6.png">

I like the idea of using icons in place of these long text strings. We'll keep this thread open until I eventually swap them out for icons.

[2018-12-04 06:15] lindseydiloreto commented on #9
As of Smart Map v3.2, this is done.

[2018-12-04 06:15] #9 closed

[2018-12-04 06:44] lindseydiloreto commented on #12
As of Smart Map v3.2, this is done.

For screens smaller than 360px wide, all subfields will be stacked vertically. This overrides the user's custom subfield sizes.

[2018-12-04 06:44] #12 closed

[2018-12-04 07:13] lindseydiloreto commented on #5
As of Smart Map v3.2, this is fixed.

<img width="277" alt="Smart Map + CP Field Inspect" src="https://user-images.githubusercontent.com/5309692/49424940-f97d8f80-f750-11e8-92fd-910f36226f2a.png">

[2018-12-04 07:13] #5 closed

[2018-12-04 07:21] lindseydiloreto opened #23 "Use icons for Address field actions"
**As described here:** https://github.com/doublesecretagency/craft-smartmap/issues/19#issuecomment-427258216

<img width="251" alt="Address field actions" src="https://user-images.githubusercontent.com/5309692/49425261-de5f4f80-f751-11e8-9fe7-7625dd4059bb.png">

[2018-12-04 07:21] lindseydiloreto commented on #19
Closing in favor of #23

[2018-12-06 01:53] damienbuckley opened #24 "Get Directions method needs updating"
The craft.smartMap.directions method in SMart Map v3.1.3 needs updating for the current Google API - its not rendering anything. This works for me:- `<a href="https://www.google.com/maps/dir/?api=1&destination={{ element.physicalAddress.street1 }}+{{ element.physicalAddress.city }}+{{ element.physicalAddress.state }}+{{ element.physicalAddress.zip }}" target="_blank">`

[2018-12-06 08:17] lindseydiloreto commented on #24
You're in luck... I just released Smart Map **v3.2.0**, which [specifically addresses](https://github.com/doublesecretagency/craft-smartmap/blob/v3/CHANGELOG.md#320---2018-12-06) the `directionsUrl` method.

Go ahead and `composer update` when you get a chance! 🍺

[2018-12-06 08:17] #24 closed

[2018-12-06 08:29] lindseydiloreto commented on #18
Good news! I've just released Smart Map **v3.2.0**, which caches the results of two significant lookups:
 - Geolocation lookups (ipstack, MaxMind)
 - Search target lookups (Google Maps API)

For more info, check out the [changelog...](https://github.com/doublesecretagency/craft-smartmap/blob/v3/CHANGELOG.md#320---2018-12-06)

[2018-12-07 00:13] damienbuckley commented on #24
Love your work!

[2018-12-18 15:52] JayBox325 opened #26 "What are the limitations for the trial version?"
Hi,

I am just wondering what the limitations for the Trial version of the plugin are? We have setup two Google APIs as per your documentation and included them in the CMS, however when I try to run a search for an address the CMS throws and error as follows: `This API project is not authorized to use this API.`

Any advice would be welcome.

Thanks,
Jay

[2018-12-18 18:04] JayBox325 commented on #26
This has been resolved. We just had to enable a few more API features and it worked through a single unrestricted key where two keys weren't working before.

It'd still be interesting to add some notes in the docs about any potential drawbacks to the trial version.

[2018-12-19 00:43] lindseydiloreto commented on #26
Hi Jay,

Good news, there are zero differences between the trial version and regular version! The only thing you'd ever see is an "unlicensed" message in the Craft CP if you launched it without purchasing. Other than that, you've got 100% of the functionality available to you. 👍

[2018-12-19 00:43] #26 closed

[2019-01-17 00:44] missmatsuko opened #27 "Visitor array not returning 'coords' key"
The [Visitor Geolocation page in the docs](https://www.doublesecretagency.com/plugins/smart-map/docs/visitor-geolocation) say:

[code]

I'm not getting a `coords` item when I dump `craft.smartMap.visitor`.

It might be because the rest of the keys returned null for this IP, but I still expected the `coords` key to exist with null, too.

Not sure what it's supposed to be with a good IP, but I expec

[2019-01-17 01:15] lindseydiloreto commented on #27
Hi @missmatsuko, which version of Smart Map are you running?

[2019-01-17 17:49] missmatsuko commented on #27
- Smart Map 3.2.0
- ipstack for geolocation
- Craft CMS 3.0.34

[2019-01-17 21:37] lindseydiloreto commented on #27
Hmm, that's pretty strange. It should at least be set to `false` by default...

https://github.com/doublesecretagency/craft-smartmap/blob/v3/src/services/SmartMapService.php#L66

The whole geolocation mechanism is being replaced in a future version of Smart Map, so it's probably not worth a ton of energy to investigate now. I'm not sure what's happening, but I won't have any near-term availability

[2019-01-17 21:37] #27 closed

[2019-01-18 17:33] jasonmccallister opened #28 "Link URL wrong in documentation"
This is related to #10.

However, I did not have an existing installation. I have a new version of Craft (recently installed) and then installed Smart Map. I'm getting a relative path to the documentation for getting a Google API key.

![screen shot 2019-01-18 at 12 30 18 pm](https://user-images.githubusercontent.com/5354908/51403049-465cd000-1b1d-11e9-9411-e16606fb107d.png)

[2019-01-18 18:23] lindseydiloreto commented on #28
Hey @jasonmccallister! Weird, that definitely shouldn't be happening. It looks like it's working normally on this (relatively) new site of mine...

<img width="1015" alt="2019-01-18 at 10 19 28 am" src="https://user-images.githubusercontent.com/5309692/51405255-b3b33580-1b0a-11e9-9bdc-c16b1ef78ab3.png">

Take a look at `/vendor/craftcms/plugins.php`. Did the `documentationUrl` value get properly p

[2019-01-23 16:32] carlcs opened #29 "Improve field styles when shown in edit element HUDs"
<img width="611" alt="bildschirmfoto 2019-01-23 um 17 30 19" src="https://user-images.githubusercontent.com/7516543/51621357-a0ea9780-1f34-11e9-8951-639aacbf32e9.png">

[2019-01-23 18:01] missmatsuko opened #30 "More docs/support for JavaScript"
I'm creating an interactive/searchable map. It works fine when I build it out in the template with Twig, but I'd really like to use JavaScript so it doesn't require page reload to get new results.

The JavaScript examples in the docs are a bit sparse and scattered. I did try to use them, but haven't had much luck.

- From the [Manipulating the Map in JavaScript](https://www.doublesecretagency.com/

[2019-01-23 20:19] lindseydiloreto commented on #30
I actually agree with that, I apologize. I have long-term plans to improve the JS docs, but it sadly won't be anytime soon. In the meantime, feel free to ping me with questions either here or on Slack. 🙂

The good news is, the `smartMap` JS is a relatively thin layer on top of the entire Google Maps API! Anything you can do with the native Google JS, you should be able to do using the `smartMap.ma

[2019-01-23 21:57] missmatsuko commented on #30
Thanks, @lindseydiloreto

Re 1 and 3: I'm wondering what is the use case for the marker functions in JavaScript since it doesn't manipulate the map directly and doesn't seem to provide useful info to use for manipulating the map? Maybe I'm missing something there.

Re 2: No, I didn't change the actionTrigger. I'll try to get in touch with you on Slack to troubleshoot further. Thanks!

[2019-01-23 22:25] lindseydiloreto commented on #30
The Google models aren't tied directly to the DOM. You'd still need to use Google's API to actually _manipulate_ those objects (and in turn, the DOM).

You may be thinking in terms of React or Vue, where there's an invisible link between DOM elements and JS models. That doesn't really apply here... you need to take specific actions on a model in order for it to affect the DOM.

[2019-01-23 22:39] missmatsuko commented on #30
@lindseydiloreto That's fine, I'm just not sure what the functions are useful for if they don't manipulate the map. I also think the docs could be clearer about what the functions do, especially since the name of the page is "Manipulating the map in JavaScript".

[2019-01-23 23:13] lindseydiloreto commented on #30
Oh, you're talking about the "Additional Functions" section at the bottom? Specifically, are you having trouble with the `createMarker` and `deleteMarker` functions?

Those should work as expected (by changing the map). Can you show me your code calling those two functions?

[2019-01-23 23:44] missmatsuko commented on #30
Hmm, actually trying it again now and `deleteMarker` is working as expected.

I did get errors with `createMarker`, but I guess I need to pass in the map element's ID and the actual coordinates of the marker in the `options` parameter. It's a bit unintuitive that `createMarker` and `deleteMarker` require different information.

I expected `createMarker` to query for the info it needs and add the m

[2019-01-24 00:35] lindseydiloreto commented on #30
To be honest, I'll probably do a major rewrite of the entire front-end JS in a future version. You may not want to get too hung up on the details of these particular functions.

Those functions were all intended as simple helper functions, feel free to re-declare or copy them as needed. They were written _very_ early on in Smart Map 2, and may get deprecated in Smart Map 4.

Feel free to ping me o

[2019-01-24 00:36] lindseydiloreto commented on #29
Thanks for the heads up!

[2019-02-04 18:59] nateiler opened #31 "Url Encode Address when Geocoding"
It's somewhat common that an address consists of some characters that aren't 'url safe'.  The common one we see is the '#' used to represent an office or mail box number.

Example:
123 Main St. #211
San Francisco, CO 94105

The result is a api url which consists of '#' and resulting in, you guessed it, everything behind the # getting stripped by the server resulting in an error.

Suggest url encod

[2019-02-04 21:10] lindseydiloreto commented on #31
Ahh, interesting! Thanks for flagging that @nateiler.

I'll try to get a fix in an upcoming version. 👍

[2019-02-13 16:51] lindseydiloreto opened #33 "Set longer cache duration"
Set a longer duration for the lookup caching...

https://github.com/doublesecretagency/craft-smartmap/blob/v3/src/services/SmartMapService.php#L792

It defaults to 1 day. Override it to something much longer, like 60 or 90 days.

[code]

[2019-02-15 10:22] JyroSnoeijen commented on #30
I also had the problem with the lookup action,
the url should be changed to 'actions/smart-map/lookup' (for craft3 it must be in snake-case),
and the csrfToken should be added to the ajax header.

In the lookupController requireAcceptsJson() is used,
But the data isnt handled like json.
Can the code for the LookupController be changed to:

[code]
?

Working example code for using with jquery after

[2019-02-15 17:16] missmatsuko commented on #30
Looks like that's the same problem I was having. I tried just changing the endpoint to snake-case and got a 400 response (Bad Request: Request must accept JSON in response) rather than 404.

[2019-02-18 17:09] lindseydiloreto commented on #30
Great, thanks for the detailed report @JyroSnoeijen! (And thanks for confirming @missmatsuko!) I've just done the quick fix of updating the docs on our site.

https://www.doublesecretagency.com/plugins/smart-map/docs/front-end-address-lookup

I'll take a look into the suggested PHP changes. The _quickest_ change may simply be to remove the `requireAcceptsJson` line. But I'll do some testing before

[2019-03-05 09:52] KatieMFritz opened #36 "Address Field layout edits don't stick"
After creating and saving a new Address field, the sub fields go into the following order:
![screen shot 2019-03-05 at 10 49 09 am](https://user-images.githubusercontent.com/7085184/53796447-7842be00-3f34-11e9-9271-950135a4b74d.png)

If I change them and save the field, upon opening the field again, they're back to that default.

Local site info:
![screen shot 2019-03-05 at 10 50 49 am](https://us

[2019-03-05 20:54] lindseydiloreto commented on #36
Hmm, interesting. My suspicion is that this has something to do with the `project.yaml` file.

Can you see if the field shows up in there? And if it does, can you grab a screenshot or snippet and post it here?

[2019-03-06 16:49] KatieMFritz commented on #36
[code]

[2019-03-06 21:52] lindseydiloreto commented on #36
I can't say _why_ this is happening, but I do see the issue...

The `layout` array has been rearranged into alphabetical order. That's not supposed to be the case (or at least, it didn't do that before Craft 3.1). If it's possible to rearrange that in your project config, that should hopefully solve the problem. I'll still need to get to the bottom of what caused that, and determine how widespread

[2019-03-08 16:42] rjgux opened #37 "Can't save Address Fieldtype"
Whenever I try and save an entry with a Smartmap Address field type I get the following error -

`Getting unknown property: doublesecretagency\smartmap\models\Address::save`

- Smart map version 3.2.1
- Craft version 3.1.16

**Full stack trace** -

[code]

[2019-03-08 18:38] lindseydiloreto commented on #37
Hmm, that's very odd. This was reported one other time recently, but we weren't able to get to the bottom of it.

Can you ping me on [Craft Discord](https://craftcms.com/discord) so we can troubleshoot it together?

[2019-03-11 19:13] lindseydiloreto opened #38 "Page to debug Google Maps"
We need a page where someone can easily see if their Google Maps keys are properly configured. And if they aren't configured properly, it should be obvious as to what needs to be done about it.

[2019-03-12 14:44] KatieMFritz commented on #36
I tried changing it in `project.yaml`. It still showed in alpha order in the CP. I rearranged it in the CP and saved, and `project.yaml` went back to alpha order. 😒

Thanks for looking into it!

[2019-03-12 20:07] lindseydiloreto commented on #36
I've got a fix in place for this on the dev branch, give this a shot...

1. Backup your database (just in case).
2. Update the `craft-smartmap` version in your `composer.json` file, like so...

[code]

3. Run `composer update`.

 Let me know if that does the trick for you! 🙂

[2019-03-12 21:48] KatieMFritz commented on #36
That worked! Thanks, Lindsey.

[2019-03-12 22:08] lindseydiloreto commented on #36
Woohoo!! Thanks for confirming. 🎉

I'm gonna leave this thread open until I officially push it live.

[2019-03-13 18:36] lindseydiloreto commented on #37
After chatting with you on Discord, it sounds like we're not able to reproduce this problem. At this point, it's still very much a mystery.

I'll leave this ticket open a bit longer, and try to do some testing on Craft 3.1 specifically. If I still come up empty-handed after that, we'll just have to close this thread and move on.

Thanks again for reporting it, let me know if any new information co

[2019-03-15 16:56] missmatsuko opened #39 "Region biasing with coordinates for target returns bad result"
Example query in Twig:
[code]

When target is a coordinates, like `'53.5444, -113.4909'` (meant to be middle of Edmonton, AB, CA), it returns one entry which is not located in Edmonton, AB.

When I remove 'components', I get 79 results. The first bunch are in Edmonton, and the last I assume are probably near Edmonton (this is the expected/good result).

If I keep the 'components' parameter and use

[2019-03-15 17:47] lindseydiloreto commented on #39
Huh, interesting. That's definitely weird behavior.

I'll dig a little deeper into it, not sure what could be causing that. For the moment, I'm just going to blame Google. 🙂

[2019-03-16 05:07] lindseydiloreto commented on #8
This has been fixed in **v3.2.2**

[2019-03-16 05:07] #8 closed

[2019-03-16 05:10] lindseydiloreto commented on #28
This has been fixed in **v3.2.2**

I just hard-coded the full URL, instead of trying to be clever with the `plugins.php` file. ¯\\\_(ツ)_/¯

[2019-03-16 05:11] lindseydiloreto commented on #31
This has been fixed in **v3.2.2**

[2019-03-16 05:11] #31 closed

[2019-03-16 05:12] lindseydiloreto commented on #33
This has been fixed in **v3.2.2**

Unique lookups will now be cached for 90 days. 👍

[2019-03-16 05:17] lindseydiloreto commented on #36
This has been fixed in **v3.2.2**

Coincidentally, the latest version of Craft no longer alphabetizes nested arrays. 🙄

Regardless, I'm happy that I implemented a fix on the Smart Map side of things. It's now in a much better position to be considered "future-proof".

Thanks again for reporting!

[2019-03-16 05:17] #36 closed

[2019-03-16 05:18] lindseydiloreto commented on #29
This has been fixed in **v3.2.2**

Thanks again for reporting!

[2019-03-16 05:18] #29 closed

[2019-03-16 05:28] lindseydiloreto commented on #30
This has been fixed in **v3.2.2**

I ended up simply removing the `requireAcceptsJson` requirement. You should now be able to perform the lookup exactly as described in the [docs](https://www.doublesecretagency.com/plugins/smart-map/docs/front-end-address-lookup) (which have been updated).

Thank you both for reporting this! 🙂

[2019-03-16 05:28] #30 closed

[2019-03-27 23:18] davist11 opened #40 "Migration Error with Project Config"
I am getting an error after updating to version 3.2.2 when running migrations on a staging server with project config enabled and admin changes disallowed:

[code]

Let me know if there are any other details I can provide.

[2019-03-28 17:22] lindseydiloreto commented on #40
Hmm, hard to say how to solve this one. I don't believe the migration is actually doing anything too unusual. If the migration _needs_ to adjust the field settings, it inevitably would need to write to the project config. Seems like a bit of a catch-22.

I'll run this by the developer community, and maybe even ping P&T to get their advice.

Thanks for reporting it!

[2019-03-28 19:00] lindseydiloreto commented on #40
Looks like we found the answer... the migration needs to cross-check your `project.yaml` folder before it decides whether or not to run.

<img width="769" alt="Ω 2019-03-28 at 11 54 54 AM" src="https://user-images.githubusercontent.com/5309692/55185113-e6079180-5150-11e9-82b7-a4658b7fd8f6.png">

Give me a day or two to implement it, I'll post back here with an update. 👍

[2019-03-28 20:35] missmatsuko opened #41 "Province/state as target"
Is it possible to search address with a province or state as a target?
The docs say the target can be anything that translates into a full or partial address, but I'm not getting results when searching for a province and I'm not sure if that's expected.

e.g. searching with a target as "Alberta" or "AB".

If I call Google's geocode service directly, I do get a response with location coordinates fo

[2019-04-01 18:04] lindseydiloreto commented on #40
@davist11 Sorry for the delay on this.

Apparently, handling migrations for 3.1 is a whole different ballgame. I've been consulting with Andris to determine the best course of action moving forward... it may require that I bump up the plugin's minimum requirements to Craft 3.1 exclusively.

**What level of urgency do you have on this?** I want to get it fixed ASAP, but I'm getting on a plane tomor

[2019-04-01 18:05] lindseydiloreto commented on #41
Very strange, that _should_ work. I'll do a little investigating, and get back to you.

[2019-04-01 18:09] davist11 commented on #40
Not a huge rush on this, I rolled the version back, so it's not currently causing any issues.

[2019-04-01 18:54] lindseydiloreto commented on #40
Ok great. If I don't get to it in the next 24 hours, I'll tackle it when I get back into town. 👍

[2019-04-10 03:56] lindseydiloreto commented on #40
I've released 3.2.2.1, which neutralizes this migration. It's a pretty low-stakes migration, so it's fine if it doesn't get a chance to run right now. I'm going to take another stab at a similar migration soon, and try to fix the bugs that cropped up in this one. Apparently project config + migrations is a pretty complicated subject. Once I've properly addressed those issues, Smart Map will offici

[2019-04-11 04:43] lindseydiloreto commented on #40
Alright, this has been officially fixed for the next release. 👍

Smart Map 3.2.3 (not yet released) will now require Craft 3.1 to be installed. It contains an updated version of this migration which smooths out this (and another unrelated) issue.

[2019-04-11 04:43] #40 closed

[2019-04-26 16:40] myriago commented on #22
. Outside of translations I often need a different address for different sites (on multi-site) which currently isn't possible. I want to be able to have translatable field in globals to set up each sites main address.

[2019-04-26 18:07] lindseydiloreto commented on #22
Hmm... I've been trying to wait until the next major release to address this, but it looks like I may not be able to wait that long.

I'll take a look into this soon. Thanks for the additional info!

[2019-05-02 09:59] myriago commented on #22
Any idea when that would go live? Not pushing just want to know how to go about on my current project.

[2019-05-02 13:58] cakleimeier commented on #41
Has there been any progress or additional information on this issue? I'm running into a similar issue, where searching for US State (by name or abbreviation) only returns results if the address in that state has no street address or zip code information.

[2019-05-02 23:21] lindseydiloreto commented on #22
@myriago Hard to say. I doubt it would be in the _immediate_ future, but I'll try to bump it up the priority list.

[2019-05-02 23:22] lindseydiloreto opened #42 "Allow API keys to be set via .env"
It would be great if the API keys could be set using something like `$GOOGLE_API_SERVER_KEY`, etc.

[2019-05-02 23:23] lindseydiloreto commented on #42
See #32

[2019-05-03 13:34] ryanmasuga commented on #41
Please let us know what you figure out, @lindseydiloreto. We'd like to deploy a map update for a client but it's sort of dependent on being able to search a state as @cakleimeier mentioned. Thanks!

[2019-05-03 15:36] lindseydiloreto commented on #41
I'll take a look into this today, and report back. 👍

[2019-05-03 20:57] lindseydiloreto commented on #41
Quick question for any/all of you... When performing the search, what `range` are you using? If you bump the `range` up to something huge (ie: 100000), does it then return results?

What I suspect may be happening is that your state/province search is using the **center** of that state/province to conduct the proximity search. So basically, your query is being translated as "closest to the center

[2019-05-03 21:07] lindseydiloreto commented on #39
I'm thinking about this a little more... if you're specifying coordinates as the `target`, then the region biasing is extraneous and unnecessary. You can (and probably should) safely omit the `components` when the `target` is a set of coordinates.

Ultimately, I do agree that they shouldn't be causing a conflict (which is what appears to be happening). It's likely that the underlying code is branc

[2019-05-03 21:16] missmatsuko commented on #41
I think that is what's happening on my site.

Do you have any suggestions for how to determine if a user's entering a specific address or not?

Could the plugin be updated to look for results within bounds instead of using central coordinates when the `address_components` isn't very granular (like if it only has a country and administrative area)?

[2019-05-03 21:19] missmatsuko commented on #39
Yeah, I was hoping that check could be done on the plugin's side so I wouldn't have to do it in Twig or make a module.

[2019-05-03 22:56] lindseydiloreto commented on #41
That's interesting... maybe? It would still ping Google (obviously), but that may be a straightforward way to detect whether the address is specific enough.

Without updating the plugin, I'd recommend comparing the user's submission against a pre-set list of states/provinces...

[code]

^ Pseudo-code, you may need to adjust it a bit for your needs.

Hope that helps!

[2019-05-03 22:59] missmatsuko commented on #41
I guess that will work for me, but it will be a long list of provinces/states for anyone working on an international map (even more if multilingual).

[2019-05-03 23:14] lindseydiloreto commented on #41
Yeah, I agree that it leads to a lot of extra code. I'll take a look into your suggestion (which is a pretty solid idea).

[2019-05-03 23:15] lindseydiloreto commented on #39
Possibly. I'd love to refactor the underlying code in that neighborhood, so I'll keep that in mind. 👍

[2019-05-06 14:49] cakleimeier commented on #41
@lindseydiloreto The "range" was what was causing the issue for me. Thanks!

[2019-05-06 17:42] lindseydiloreto commented on #41
@cakleimeier Ok great, no problem! 🙂

[2019-05-06 20:53] missmatsuko commented on #41
I'm going to try and do something in Twig similar to what you posted, but I just wanted to note that it's looking to be more complicated to do for Canada, especially for a bilingual site.

PEI is possibly one of the worst cases, since it has at least 7 variations:
- PEI
- PE
- Prince Edward Island
- Île-du-Prince-Édouard
- L’Île-du-Prince-Édouard
- Î.-P.-É.
- l’Î.-P.-É.
- All of the above ignoring

[2019-05-07 15:57] lindseydiloreto commented on #41
Yikes.

One other option that I've seen people do in the past... Include a dropdown menu of states/provinces next to your search bar. So if someone just selects something from the dropdown menu, and doesn't type anything into the search field, you already know to filter it instead of doing a lookup.

[2019-05-07 16:15] missmatsuko commented on #41
Yeah, we actually already have a province filter but they want the users to be able to type it in, too.

[2019-05-09 07:13] missmatsuko commented on #41
@tremby helped me make a patch for the plugin so when the target returns a geocoding response whose `address_components` contain `administative_area_level_1` but not `locality` (i.e. it's probably a state), it filters by that state, ignoring its location coordinates.

This seems to work well for my use case, and I don't need to have a giant list of provinces in different languages and styles (like

[2019-05-10 02:51] lindseydiloreto commented on #41
Fantastic, thanks @missmatsuko (and @tremby)! I'll take a look at those changes, and try to roll them back into the plugin. Nice work! 🍺

[2019-06-03 19:46] dsmrt commented on #22
+1 I have a microsite setup that needs this

[2019-07-10 12:31] pieterjandebruyne opened #43 "language param for google map"
Hi,

I need to translate the google map controls depending on the site locale..

The options that we can pass to smartmaps don't seem to include a language param
https://www.doublesecretagency.com/plugins/smart-map/docs/customizing-the-map-in-twig

The docs on internationalization just change plugin translations or fields
https://www.doublesecretagency.com/plugins/smart-map/docs/internationalizati

[2019-07-10 23:49] lindseydiloreto commented on #43
Hi @pieter-janDB,

Before answering your question, let me recommend that you update to the latest version of Smart Map (v2.5.1) for Craft 2. It doesn't address your issue, but adds & fixes several important things...

https://www.doublesecretagency.com/plugins/smart-map/changelog#2-5-1

Back to your question... There's no easy way to do this, unfortunately. If you know that your site _only_ needs

[2019-07-12 15:56] jamiewade commented on #22
@lindseydiloreto Any updates on this?

[2019-07-27 16:12] Takaya213 opened #44 "API Issue"
The API for Google Maps has been setup as per the instructions in the documentation, but whenever we input an address and say Search Address we get the following error:

This API project is not authorized to use this API.

We are using the trial version with the intention to purchase the plugin.

[2019-07-27 18:15] lindseydiloreto commented on #44
Hi there. This is definitely an issue with the configuration of your Google API keys. It sounds like they currently do not allow for the API keys to be used in that particular environment.

The Google interface is very confusing, I know... but I assure you the solution is due to how the API keys are configured.

[2019-07-28 13:29] Takaya213 commented on #44
Hi @lindseydiloreto. Thanks I will take a look, and agreed the Google interface is confusing, as well as it has been updated since the docs about how to get the API keys was done, so the screenshots are all rather out of date as well as the instructions.

[2019-07-29 14:27] lindseydiloreto commented on #44
Too true, sadly... it seems that Google likes to reinvent their documentation every 6-12 months. I've updated that page of the Smart Map docs several times to keep up, but it's been a significant moving target.

I may actually _trim back_ that page of the docs in the future, and simply bullet-list the API key requirements. It's not worth the effort of continually making new screenshots if they're

[2019-07-29 14:27] #44 closed

[2019-07-31 09:05] anderthalb opened #45 "Sorting by lat/lon is not working via template"
Hi there,

I followed your help page for "Sorting entries by closest locations" but I can't get it to work.

I created an address-field (handle: "adresse") and stored correct data into it (with lat/lon!).

Then I added your code to a twig template (slightly altered):

[code]

I think I'm missing an important step, but I can't see it. Do I obligatory need a google maps key? I haven't added one.

If

[2019-07-31 09:14] anderthalb commented on #45
FYI: I just added a google key for backend & frontend (which worked, as I can see on the debug-page) and cleared all caches. Still not working.

[2019-07-31 09:42] anderthalb commented on #45
Ok, never mind :-) I looked through the log-files and found an error `[doublesecretagency\smartmap\services\SmartMapService::lookup] Google API error: This API project is not authorized to use this API.`.

After some digging I noticed some wrong settings in google cloud for my keys. So it was a google key error after all.

This issue can be closed.

Cheers, Christian

PS: Maybe you want to update

[2019-08-02 18:42] lindseydiloreto commented on #45
Hi @anderthalb,

There's a notice at the top of the [Get Google API keys](https://www.doublesecretagency.com/plugins/smart-map/docs/get-google-api-keys) page which mentions that API keys are now required.

<img width="662" alt="Ω 2019-08-02 at 2 41 45 PM" src="https://user-images.githubusercontent.com/5309692/62391759-b1a74600-b533-11e9-8752-a2330279361f.png">

Glad you got it all sorted out! 🙂

[2019-08-02 18:42] #45 closed

[2019-08-02 18:47] lindseydiloreto commented on #22
@jamiewade I'm currently in the middle of a giant project which has consumed most of my attention, though this feature request has not completely dropped off my radar.

Once that project is wrapped up (within the next couple of months), I intend to circle back around and give Smart Map a bit of love. This particular feature request is near the top of the list. 👍

[2019-08-26 17:48] jeffaglenn opened #46 "Allow field export in Craft 3.2 native export"
It looks like when I export entries with a Smartmap field the field does not get exported. However, it seems like there are even some native fields that don't get exported so I didn't know how Craft handles this. 🧐

[2019-08-26 20:18] lindseydiloreto commented on #46
Interesting, good catch! The data is stored in a 3rd-party table, so I guess I shouldn't be shocked.

I'll take a look when I get a chance. Thanks for reporting!

[2019-09-02 04:17] xhuang9 opened #47 "Allow Customized Content (email, phone) in the address object"
I will be great to have the ability to attach customised field (Email, Phone) attach to the address object.

Most of our clients have multiple stores, they have multiple contact information like phone, email. Right now I have to create a matrix field and put a "smart map address field" with an email text field and phone text field, and set smart map address field to only allow one address. And tre

[2019-09-02 04:22] #47 closed

[2019-09-02 04:22] xhuang9 commented on #47
Sorry, I think I made some mistake. I thought smart map object works like a matrix. Turns out its just a plain text field. We would have to wrap it in matrix to allow multiple address anyway.

[2019-09-03 23:09] lindseydiloreto commented on #47
Yup, that's exactly right! You can use Smart Map in a Matrix field to get the effect you are looking for. 🙂

[2019-10-30 13:09] lastgiven opened #48 "Sorting entries by closest locations SQL error."
Good day,

I am experiencing an issue with the plugin where it throws an error saying that
`column "distance" does not exist`

The error page also printed out the SQL that I tried to execute. I went to PostgreSQL to test what the issue could be and the error log showed the following:

[code]

I have tried to play around with the SQL but to no avail.

This is on the latest version of Craft CMS 3.

[2019-10-30 20:24] lindseydiloreto commented on #48
Hi there. Which version of Smart Map are you using?

I believe I patched some Postgres issues recently. Just want to make sure you're running the latest & greatest.

[2019-10-30 20:25] lastgiven commented on #48
I am running the latest version of smart map.

[2019-10-30 21:04] lindseydiloreto commented on #48
Is `address` the exact handle of your address field?

What value are you passing in as the `target`?

[2019-10-31 04:42] lastgiven commented on #48
Hi @lindseydiloreto,

Yes the `address` field is the exact field.

I have tried to fill in every single type of target value that you support.

I have used lng, lat; code, and string.

What I can try and do today is remove the plugin and install it again.

[2019-10-31 07:00] lastgiven commented on #48
I have removed and re-installed the plugin.

Deleted all my entries and the error still persists, unfortunately.

Please let me know if you need any additional info from me :)

[2019-10-31 08:03] lastgiven commented on #48
Continued playing with the SQL query to see if I can get it to work.

The issue is with the `HAVING` clause.

I removed the `HAVING` clause from the query and added a `WHERE` at the end of the SQL query just above the last `ORDER BY` and I got results back.

I then went into your plugin to check if I can see if I can change anything there to help me just for the time being and was able to get it t

[2019-10-31 22:37] lindseydiloreto commented on #48
No problem, I appreciate all of the detail you're providing! 🍺

Did that potential solution work for you? Is it only returning results within the specified range?

This is interesting... I wonder if Postgres handles `HAVING` differently than MySQL.

[2019-11-01 11:40] lastgiven commented on #48
Yes, that solution worked perfectly and was able to get it working with Element API as well after that.

I know that in MySQL that if the `HAVING` clause does not have a `GROUP BY` added that it then acts as a `WHERE` clause but with PostgreSQL it enforces the rule that a `GROUP BY` is required.

Maybe you can check from the .env file of the project what DB type is used and then add the `HAVING` o

[2019-11-01 17:38] lindseydiloreto commented on #48
Good to know! I believe Craft itself has some methods that will allow us to easily check the DB type.

I'll spin up a Postgres environment and do some additional testing. Thanks for tracking down the source of the problem!

[2019-11-12 12:36] lastgiven commented on #48
Hi @lindseydiloreto

Sorry for being so quiet. Do you perhaps have any indication on when you would go live with the fix?

[2019-12-20 12:45] E2design opened #49 "Get Directions method error"
Using SmartMap 3.2.2.1 on Craft Pro 3.3.18.3.
Template is rendering correct including a markerInfo set-up
However adding a button link to the Google directions page trows a template error: Calling unknown method: craft\elements\db\EntryQuery::directionsUrl()

[code]

[2019-12-20 21:44] lindseydiloreto commented on #49
Hi there,

What kind of field is `vestiging`? It's claiming that `entry.vestiging` is an EntryQuery... Is that a relationship field for another section?

[2019-12-23 10:14] E2design commented on #49
Yes that is a relationship field to another section 'vestigingen'. In which the field 'vestigingAdres' is the SmartMap field.

[2019-12-23 21:08] lindseydiloreto commented on #49
That makes sense. So then `entry.vestiging.directionsUrl` won't work.

Assuming you just want to get directions to the _first_ related entry, it would probably look something like this...

[code]

Hope that helps!

[2019-12-23 21:08] #49 closed

[2019-12-24 08:10] E2design commented on #49
It sure did! Appreciate your support :-)

[2019-12-31 00:06] alsessions opened #50 "Deprecation error after upgrade to PHP 7.4.1"
After updating to PHP 7.4.1 I receive an error on previously working maps.

```array_key_exists(): Using array_key_exists() on objects is deprecated. Use isset() or property_exists() instead```

Pastebin of stack trace: https://pastebin.com/0cngYV7r

[2020-01-08 23:40] lindseydiloreto commented on #50
This is fixed for the next release of Smart Map. If you want it now, change this line in your `composer.json` file and run `composer update`...

[code]

Thanks for reporting it! 👍

[2020-01-08 23:40] #50 closed

[2020-01-24 09:46] lastgiven commented on #48
Hi @lindseydiloreto

I know we have not touched base in a while regarding this issue but is there any new update or not really?

[2020-01-24 20:40] ccchapman commented on #48
I am not using Postgres, but receive a similiar error on the latest release (and dev branch.)

[code]

[2020-01-28 13:42] zizther opened #52 "Addresses selected from Google which contain apostrophes get output with symbol entities"
If I perform an address lookup to get the details from Google's API it will either enter or replace the content in the fields with content containing HTML symbol entities, rather than the corresponding character.

[2020-01-28 20:36] lindseydiloreto commented on #52
Huh, interesting. Thanks for the heads up, I'll take a look into it!

[2020-02-03 01:42] AndrewMac opened #53 "Not compatible with PHP 7.4"
Hello there, I was testing a site recently to see if it could be moved to PHP 7.4, and I ran into some errors that seemed to come from Smart Map—apologies that I don't have the exact error message to hand at the moment, but I'll try to post them soon.

In any case, I was just wondering if Smart Map had yet been tested with 7.4, or if there was a plan to do so. And if you have indeed tested and fou

[2020-02-03 20:03] chadwells commented on #46
Hello,

Any updates on this? Would love to be able to export Smart Map address fields using the Craft Export tool. This is a hot issue within my organization. (Haven't yet had a chance to look at the updated Export features in Craft 3.4)

[2020-02-03 20:27] lindseydiloreto commented on #53
Good news, I've actually already made some fixes with regards to PHP 7.4 compatibility!

Those changes haven't yet been publicly released, but you can get them now by switching to the `v3-dev` branch in composer...

[code]

If you still have issues, just report them back here and we can reopen this thread.

I plan to formally release these changes within the next 2-4 weeks. 👍

[2020-02-03 20:27] #53 closed

[2020-02-04 09:41] AndrewMac commented on #53
Hi Lindsey

I'm afraid that, even running dev-v3-dev, I'm still having an error that seems to be from SmartMap. I'll paste the code and upload the error messages below.

This issue occurs whenever I load a map in Craft Pro 3.4.3 under PHP 7.4 ... but everything works just fine if I switch back to PHP 7.3.9.

Thanks in advance for any help or advice you may be able to give with this.

First the cod

[2020-02-10 05:13] AndrewMac opened #54 "Still incompatible with PHP 7.4"
Just creating a new issue just in case you didn't get any notification that  I added a comment to the issue you closed recently: https://github.com/doublesecretagency/craft-smartmap/issues/53

I’m afraid that the Smart Map dev-v3-dev branch you suggested didn’t solve the issue I’m having under PHP 7.4.

Below I have attached the error I get if I load the Smart Map debug page—it's the same error th

[2020-02-10 06:41] lindseydiloreto commented on #54
Good timing, I literally just pushed a fix for this a few minutes ago. It took me several days of untangling the problem to sort it out.

It basically boiled down to a weird mix of these things...
 - PHP 7.4
 - You're running in a local environment.
 - A general bug in the geolocation process.
 - A specific bug in the ipstack service.

All of those things should be resolved though. Go ahead and pu

[2020-02-10 06:44] lindseydiloreto commented on #53
Moved conversation to #54

[2020-02-10 08:50] AndrewMac commented on #54
Hi Lindsey

Thanks so much for your help with all this; I really appreciate it!

That most recent dev version did indeed fix things ... well, mostly, at least ;-)

First, the good news: it's now working just fine on the PHP 7.4.2 production server, with everything back to normal. Things are exactly as they used to be.

The not-quite-so-good news, albeit of much less importance, is that the local i

[2020-02-10 23:54] lindseydiloreto commented on #46
Hi @chadwells,

I'm working on some significant updates for Smart Map right now, and I plan to address the field exports as part of that release. I don't have an ETA per se, but I'm aiming for sometime in the next 2-3 weeks. 🤞

[2020-02-11 04:56] AndrewMac commented on #54
Hi Lindsey

Actually, forget the last message. I think it was a temporary issue only ... everything seems fine now, even on the local site :-)

I reckon it's okay to close this once again. And thanks, again, for all your help!

Cheers
Andrew

[2020-02-11 18:09] lindseydiloreto commented on #54
Awesome, glad you got it sorted! 👍

[2020-02-11 18:09] #54 closed

[2020-02-13 06:39] lindseydiloreto commented on #52
I'm having trouble replicating this. Can you give me an example of an address that was causing this problem? How exactly were you using the address?

[2020-02-13 07:37] lindseydiloreto commented on #42
This is done. I plan to release Smart Map **3.3** within the next few weeks, which contains the fix.

[2020-02-13 07:37] #42 closed

[2020-03-02 04:55] #37 closed

[2020-03-02 05:09] lindseydiloreto commented on #7
I know this is a very, very old ticket, sorry for never responding. Are you still seeing issues with this?

The only thing I can think of that may be causing this behavior is the retina output. Whatever number you specify (ie: 100) is automatically doubled (ie: 200), which is then rendered in an `<img>` tag which (theoretically) has a `height="100"` attribute. Perhaps there is a reason why your br

[2020-03-02 05:09] #7 closed

[2020-03-04 06:33] lindseydiloreto commented on #52
Found a good test string: `Rue de l'Escarpe`

This is now fixed, and will go out with the next release.

[2020-03-04 06:33] #52 closed

[2020-03-04 10:02] zizther commented on #52
Thanks, sorry I couldn't get back to you on your point. Appreciate the fix.

[2020-03-04 21:47] lindseydiloreto commented on #41
Hey @missmatsuko, I'm _finally_ getting around to taking a closer look at your patch... but it looks like that link is now dead! 😕

Do you know where I could see a copy of those changes?

[2020-03-05 03:18] missmatsuko commented on #41
Ah sorry, I wasn't using the repo so deleting it without remembering I'd linked to it here. I still had my local version so pushed it back up. Looks like the link works again now.

[2020-03-05 05:04] lindseydiloreto commented on #41
Brilliant, thanks @missmatsuko! 👍

I'll take a look and see if/how it can be rolled back into the plugin.

[2020-03-11 07:19] lindseydiloreto commented on #46
@jeffaglenn @chadwells This feature has been added to the `v3-dev` branch. 👍

It's now possible to select an **Address (Smart Map)** export type. That will give you separate columns for all of the subfields on each of your Address fields.

<img width="236" alt="Ω 2020-03-11 at 12 07 16 AM" src="https://user-images.githubusercontent.com/5309692/76391763-6658df80-632d-11ea-8769-0029bc7b4808.png">

T

[2020-03-11 07:19] #46 closed

[2020-03-11 14:53] jeffaglenn commented on #46
Fantastic! Thanks Lindsey, I'll check it out.

[2020-03-17 11:57] chadwells commented on #46
Thanks Lindsey. This seems to work really well so far.

[2020-03-17 19:22] lindseydiloreto commented on #46
Excellent! Thanks for reporting back. 🍺

[2020-03-20 05:02] lindseydiloreto commented on #41
Alright @missmatsuko, I've added a new feature based on this concept. First, grab the latest version of the plugin from the `v3-dev` branch...

[code]

Then, check out this new page in the docs which explains how to use it...

https://www.doublesecretagency.com/plugins/smart-map/docs/using-a-filter-fallback-in-proximity-searches

Let me know if that does the trick for you!

[2020-04-20 18:37] lindseydiloreto commented on #41
The "Filter Fallback" technique has been formally released in v3.3. 👍

If you bump into any issues regarding this new method, feel free to start a separate thread!

[2020-04-20 18:37] #41 closed

[2020-04-20 18:41] lindseydiloreto commented on #22
Just FYI to everyone following this thread...

This issue is still one of the higher priorities for Smart Map. It didn't make it into the recent 3.3 release, unfortunately, but I fully intend to address it in the next major version. 🙂

[2020-05-06 10:57] darylknight opened #55 "Undefined class constant 'EVENT_REGISTER_EXPORTERS'"
I just updated Smart Map to 3.3.0 locally and I can't access the control panel because I'm seeing Error: Undefined class constant 'EVENT_REGISTER_EXPORTERS'.

![image](https://user-images.githubusercontent.com/1250017/81169390-7691e180-8fa1-11ea-9811-0a3a9f404cf9.png)

I do actually have it running perfectly fine on another site locally, so I wonder if this is specifically related to a migration o

[2020-05-06 11:00] darylknight opened #56 "Region Biasing isn't working as intended"
Region biasing doesn't seem to be working the way the docs say it should.

If I search for "venice" like in the docs and my code is:

`{% set params = { target: "Venice", range: 20, units: 'miles', components: {'country': 'US', 'administrative_area': 'California'} } %}`

The docs say it should return the Venice in California, but it's still showing the one in Italy.

![image](https://user-images.g

[2020-05-06 11:10] darylknight commented on #55
I updated Smart Map at the same time as updating Craft from 3.3.20.1 to 3.4.18 - it looks like that's what caused it. Updating Craft first _then_ Smart Map has fixed the issue.

[2020-05-06 11:10] #55 closed

[2020-05-06 20:20] lindseydiloreto commented on #55
Interesting... Even though the "Export" button was introduced in Craft 3.2, it looks like the `EVENT_REGISTER_EXPORTERS` event wasn't introduced until 3.4.

I've just bumped the minimum requirement. Good catch, thanks!

[2020-05-06 21:03] lindseydiloreto commented on #56
Hmm, that sounds unusual. Let's chat it out on Discord, and we'll report our findings back here. 👍

[2020-05-11 10:29] darylknight commented on #56
Updating for benefit of others; not a Smart Map issue!

The problem was with the order of my code and how I was centering the map manually. So the results returned from Smart Map were correct, but I also have code adding a grey pin for the coordinates of the search target if there are no results. The code to render the map if there were no results wasn't focusing on the US, just the coordinates of

[2020-05-11 10:29] #56 closed

[2020-05-11 21:33] lindseydiloreto commented on #56
Ha, it happens! Thanks for reporting back @darylknight. 🍺

[2020-05-13 11:25] johnwbaxter opened #57 "Address lookup is returning Country name in State field, not the state name"
Hey Lindsey,

When doing a address lookup via the fieldtype, it's finding the address ok, but it shows in the sate field "England" and Country "United Kingdom". The state should be "Oxfordshire" or whatever, not England.

When I click to select the address I want, it fills in the address fields with "England" in the "Sate" field too.

Any lead on why this is happening?

Thanks!

John

[2020-05-13 14:21] lindseydiloreto commented on #57
Hey John! Which version of Smart Map are you running?

If you’ve recently updated, did the problem exist _before_ you updated?

[2020-05-13 14:24] johnwbaxter commented on #57
Hey Lindsey!! :wave:

This is a new ( to me) site wot I have picked up that was using a competitors map plugin (wont mention names) and I have put yours in cos theirs sucks!

So, it's brand new 3.3.2 as of today!

Thanks :)

John

[2020-05-13 19:30] lindseydiloreto commented on #57
Ha, we all appreciate your discretion. 😉

Interesting, I don't recall having many complaints from our UK clientele. Is this happening with all UK addresses, or does it seem to be contained to a specific region?

[2020-05-13 21:20] johnwbaxter commented on #57
We were only looking at UK locations for this site, so it's all UK addresses across lots of different regions.

[2020-05-19 08:53] mheob opened #58 "Address information in GraphQL as object an not only as string"
Hey there,

I'm still quite new to Craft CMS development, especially in terms of using GraphQL. So, I am not sure if I am doing something wrong. I apologize if that is the case.

After my current attempts there is no way to get the underlying fields of the address (street, city, zip ...) in GraphQL. In the following query I get back a concatenated string for the address, similar to STREET, CITY ZI

[2020-05-22 18:09] wbrowar opened #59 "Support for Native GraphQL"
Smart Maps has support for CraftQL. Can the work put behind supporting CraftQL be ported over to Craft’s native GraphQL?

[2020-06-05 14:29] E2design opened #60 "Error during updating using the cli"
Trying to update this server. Server stalls on smartmap error.

`xxxxxxxx-web-01:~/www/public_html$ ./craft update all
Exception 'Error' with message 'Undefined class constant 'EVENT_REGISTER_EXPORTERS''

in /storage/av06766/www/public_html/vendor/doublesecretagency/craft-smartmap/src/SmartMap.php:98

Stack trace:
#0 /storage/av06766/www/public_html/vendor/yiisoft/yii2/base/BaseObject.php(109): do

[2020-06-05 16:32] lindseydiloreto commented on #60
Sorry about that, it's explained relatively well [over here...](https://github.com/doublesecretagency/craft-smartmap/issues/55#issuecomment-624586242)

I'll add some extra info for clarity. 👍

[2020-06-05 16:32] #60 closed

[2020-06-05 16:44] lindseydiloreto commented on #55
Since it looks like I may end up linking back to this thread for other folks dealing with the same issue, figured I'd add a little extra information...

This is the result of a brief misunderstanding I had regarding the introduction of Craft's native  "Export" feature. They introduced the _concept_ of exporting in 3.2, but didn't introduce the _event_ until 3.4. As a result of the confusion, Smart

[2020-06-10 20:57] lindseydiloreto commented on #37
Just chased this ghost around with another user... it looks like there's some sort of conflict with an older PHP version. Using a more recent version of PHP did the trick.

For anyone dealing with this in the future, **switch to PHP 7.4** and see if that resolves the issue.

[2020-08-07 07:20] philipboomy opened #61 "FR - Opportunity to set default country for backend address search"
Just a friendly note that if there is a chance in the future to implement this then I think it could be useful. In my particular scenario then it means the editors will save a lot time by jumping straight to post code and street address.

Not sure whats best, via a config file or just simple "default" value in the field.

[2020-08-07 08:22] philipboomy commented on #57
I can confirm a little issue with UK search - See this video for more info https://share.getcloudapp.com/nOukW96Y

It inputs "England" in State/County and some times miss the City. I tried with "10 downing street" and this is that I got https://share.getcloudapp.com/P8ubl6x4 and https://share.getcloudapp.com/9ZuXWDee

According to Google Maps then this is the full address
https://www.google.com/ma

[2020-08-07 16:40] lindseydiloreto commented on #61
Sounds interesting! I'll give it some thought... no idea when it'll get added, or what form it will take. But we'll keep this thread open until then. 👍

Thanks for the FR!

[2020-08-07 17:07] lindseydiloreto commented on #57
Thanks for confirming, and thanks for the video! That's actually pretty helpful.

So what _should_ those values be? What should be appearing in the "Town/City" and "County" fields?

Sorry, as a dumb American, British geography is incredibly confusing to me. 🙃

[2020-08-07 17:36] philipboomy commented on #57
My pleasure.

In this particular case
[code]

Another test could be
[code]

Here is a [list](https://en.wikipedia.org/wiki/Counties_of_England) of the counties if you need to do more checks.

[2020-08-07 17:57] lindseydiloreto commented on #57
Excellent, that's very helpful.

Is "United Kingdom" the correct way to identify the Country? Or should that be "England"?

[2020-08-10 06:27] philipboomy commented on #57
"United Kingdom"

[2020-08-23 05:42] lindseydiloreto commented on #57
Alright, I just pushed **v3.3.4** with a patch for this. 👍

Please double-check it when you get a chance! Let me know if the UK addresses are now operating as expected.

[2020-08-23 05:46] lindseydiloreto commented on #59
Excellent request. We will be adding full GraphQL support in the next major version (hopefully within the next few months).

[2020-08-23 05:52] lindseydiloreto commented on #58
Hi @mheob, sorry for the late reply.

I am still fairly new to GraphQL myself. Smart Map currently has light support for GraphQL, although [full support is planned for the future](https://github.com/doublesecretagency/craft-smartmap/issues/59).

I'm not sure whether or not your code snippet would work... I'm sure by now you've figured out some sort of solution. If you're still stuck, hopefully you

[2020-08-23 06:54] mheob commented on #58
Hi @lindseydiloreto, thanks for the answer.

Yes, it is right that I use a workaround for now. But this is not a solution that I want to keep forever. So I am looking forward to the direct support of the SmartMap one day.

[2020-08-27 12:09] philipboomy commented on #57
It seems to be working correctly now. Thanks for fix

[2020-08-27 19:41] lindseydiloreto commented on #57
Excellent, thanks for confirming!

[2020-09-01 15:52] tigerchick opened #62 "Render dynamic map using AJAX call?"
I'm having trouble rendering a dynamic map when the template with the map is called via ajax (a static map works fine).
If I load the template normally then it renders fine. If I use jquery to call the template via ajax (when clicking a button to display a modal for example) the I just get "loading map".
I'm sure this is because the js for smartmap isn't getting loaded and this will be down to the

[2020-09-01 18:17] lindseydiloreto commented on #62
Hi there. I'm not quite following what you are doing, it may be helpful to see your code.

I'd also recommend taking this conversation over to Craft Discord, where I may be able to better respond promptly. It sounds like you just trying to figure out how something works, not actually reporting a bug or feature request.

Feel free to ping me on Craft Discord (@lindseydiloreto), I'd be happy to help

[2020-09-01 18:17] #62 closed

[2020-09-07 15:08] wolfwohlwend commented on #58
+1 Yes, native GraphQL support would be a great addition! Looking forward.

[2020-09-18 22:23] dustinwalker opened #63 "Control of where javascript is inserted"
If I use the {% js %} tag on a template that extends our main layout, that javascript isn't being inserted below the smartMap object—it's not defined when I try to set the style options.  As soon as that same code is in an include, it works.

If that issue is replicable, I'm curious if it would be possible to have more granular control of where that code is inserted. Possibly disabling the auto in

[2020-09-18 22:37] dustinwalker commented on #63
Hmm, this also seems to work so it's probably a Twig ordering issue:

[code]

Would still be nice if a simple addition to know exactly where the generated javascript would be inserted.

[2020-09-22 19:03] lindseydiloreto commented on #63
Hey Dustin, I'll ping you directly! 🙂

[2020-09-22 19:03] #63 closed

[2020-09-24 14:39] petehjfd opened #64 "Instructions for using with Element API?"
Hi

Are there any instructions for using SmartMap with Element API?

Specifically, I would like to:

- get a formatted address, either as a single line or two/three lines
- get the directions URL

To get the single line address in Twig, I would use `{{ entry.myAddressField }}` but using `$entry->myAddressField` with Element API obviously just returns the address object, e.g.:

[code]

To get the t

[2020-09-24 17:16] lindseydiloreto commented on #64
That's because those are methods, not properties. 🙂

In PHP, you need to write them like this...

[code]

Twig does you the "favor" of allowing you to call methods without the parenthesis (assuming you are passing no parameters). It's a helpful trick when working exclusively in Twig, but gets a little confusing when switching between Twig and PHP.

Hope that helps!

[2020-09-24 17:16] #64 closed

[2020-11-17 15:24] Timusan commented on #48
Is there any update to this issue? It seems that this plugin is currently broken on PostgreSQL and I have a feeling it might having something to do with this:

https://stackoverflow.com/questions/36105812/unknown-column-in-having-clause

I am getting the error with a fresh install on PostgreSQL and this both with an entry query as with a GraphQL query. I would really like to use this plugin on one

[2020-11-17 22:43] lindseydiloreto commented on #48
@Timusan Very interesting. Did that patch work for you? ^

[2020-11-20 07:28] Timusan commented on #48
Well, actually the above fix did 😄 The previous one was untested (did not know Github would be so eager to link in that commit already 😉) and the database checks were incorrect. The above fix combined with the previous commit got it working for me on PostgreSQL (do not have a MySQL server to check at the moment). This is basically a fast implementation of @lastgiven solution above.

Shall I put th

[2020-11-20 17:58] lindseydiloreto commented on #48
Ok great, glad to hear it @Timusan!

So now it conducts a proper proximity search (sorted nearest to farthest)? Or did it just suppress any error messages?

Thanks for submitting that fix! Yes please, go ahead and submit it as a PR so other folks can test it as well. 👍

[2020-11-25 00:28] lindseydiloreto commented on #48
Perfect, just merged in your fix and pushed everything live! Go ahead and update to the latest (v3.3.5), and let me know if you run into any issues.

Thanks @Timusan, really appreciate your help getting that patched! 🍺

[2020-11-25 00:28] #48 closed

[2020-12-08 18:25] geenious opened #66 "Is the address field searchable?"
I'm making a simple query:

[code]

But the entry isn't showing when I search by the value in Address Field 1.

The "Use this field’s values as search keywords" is checked and I've re-saved all entries.

[2020-12-08 18:41] lindseydiloreto commented on #66
Hi @geenious,

I don't believe the Address field gets indexed in the search index. The data exists outside of the `content` table, and would probably require some special magic to get properly indexed.

In the meantime, there are other (more preferred) ways of accessing the Address data. The most common way to is to perform a normal [proximity search](https://www.doublesecretagency.com/plugins/sma

[2021-01-04 14:46] CreateSean opened #67 "Pin Clustering"
Craft 3.5.17.1
Smart Map 3.3.5

I would like to be able to cluster pins so that if there are say 10 pins close together it would show a single pin with a number 10 until you zoom in.

Have tried to search docs for cluster. however it appears your search bar on the docs isn't hooked up.

For example in this screenshot this would be very helpful.
![image](https://user-images.githubusercontent.com/68

[2021-01-04 18:56] lindseydiloreto commented on #67
Great note! I could've sworn this issue was already on Github, but perhaps I'm just thinking of [this SE post...](https://craftcms.stackexchange.com/a/28730/45)

I do plan on making clustering a native feature. It relies on a separate JS library though, so it's just a tiny bit complicated to integrate. In the meantime, check out that SE post for details on how to implement it yourself.

I definite

[2021-01-04 18:58] CreateSean commented on #67
@lindseydiloreto Thanks - perhaps you could update the documentation so that it's easy to find out about the extra steps.

[2021-01-06 21:04] CreateSean opened #68 "Pass an Attribute to Smartmap via Options"
I would like to be able to pass an attribute to the rendered map something like this:

[code]

Where `sprig` and `data-test` are attributes and `test` is the value of `data-test`

Is this possible? If not, would this be something that could be added?

[2021-01-12 00:43] lindseydiloreto commented on #68
I've got another solution for you. We'll sort it out via DM. 👍

[2021-01-12 00:43] #68 closed

[2021-01-26 15:49] BenParizek commented on #43
I was hoping to do this too. I'm not familiar enough with the plugin or Google Maps API to offer any suggestions (at the moment) but it does look like it's possible with the Google Maps API:

https://developers.google.com/maps/documentation/javascript/localization
https://developers.google.com/maps/documentation/javascript/examples/map-language#maps_map_language-html

My ideal implementation would

[2021-01-26 17:39] lindseydiloreto commented on #43
Good news, this is possible (and easy) with an upcoming major release! It'll probably be released within the next 4-6 weeks, and/or shortly after Craft 3.6 is released (it requires a minimum of 3.6).

In the meantime... I recently helped someone put together a workaround for this exact issue. Here's what we came up with:

[code]

In summary, you are pre-loading the Smart Map (and Google Maps) Java

[2021-01-26 22:21] something-inc opened #69 "Craft field handles overlap issue with Smart Map field buttons"
There is an overlap issue with Smart Maps field buttons when the user setting `Show field handles in edit forms` in Craft is checked to show the field handle above the fields in the CP, the issue is shown in the image.

<img width="781" alt="Screenshot 2021-01-26 at 22 12 26" src="https://user-images.githubusercontent.com/78040293/105912649-b1521300-6023-11eb-9d36-6b4308e6d6f4.png">

[2021-01-26 22:25] zizther commented on #69
Same issue with Craft 3.5.19 and Smart Maps 3.3.5

[2021-01-27 18:55] lindseydiloreto commented on #69
Thanks for the heads up! 👍

[2021-02-20 03:08] engram-design opened #70 "Changed behaviour with `target` query param"
Back in the Craft 2 days, we wanted to be able to let users filter entries by an `address` Smart Map field with "fuzzy search". Like the below image.

![image](https://user-images.githubusercontent.com/1221575/108581952-64dcc780-7384-11eb-921e-d90b0c9a9133.png)

This seemingly worked with the following:
[code]

For the above example we used `target` to supply anything about the address, which was

[2021-02-20 03:34] lindseydiloreto commented on #70
Hey @engram-design! Just pinged you on Discord, let's get into the details over there. 👍

[2021-02-26 11:18] mheob commented on #58
If I understand it correctly this plugin is no more maintained. Some info about this in the `README` would be very nice.
It seems that this issue continues here: https://github.com/doublesecretagency/craft-googlemaps/issues/2

[2021-02-26 17:22] lindseydiloreto commented on #58
Yes, that's correct. Since the new Google Maps plugin has launched (just a few days ago), we'll be migrating all issues over to that repo and marking this one as abandoned.

To stay up to date, subscribe to the replacement thread...

 - https://github.com/doublesecretagency/craft-googlemaps/issues/2

[2021-02-26 17:22] #58 closed

[2021-02-26 17:25] lindseydiloreto commented on #59
Now that the new Google Maps plugin has been released, we'll be migrating all relevant Smart Map issues over to that repo.

To stay up-to-date, subscribe to the replacement issue...

 - https://github.com/doublesecretagency/craft-googlemaps/issues/2

[2021-02-26 17:25] #59 closed

[2021-02-26 17:36] lindseydiloreto commented on #23
This was done in the new Google Maps plugin...

<img width="327" alt="Map visibility toggle" src="https://user-images.githubusercontent.com/5309692/109334355-77884e00-7815-11eb-8c59-16e97bdc5074.png">

You can also control how the toggle is displayed by editing the field's settings...

 - `Text & Icon` (default) - Show both the text label and icon.
 - `Text Only` - Show only the text label.
 - `Ic

[2021-02-26 17:36] #23 closed

[2021-02-26 17:47] lindseydiloreto commented on #38
This issue has been migrated to the new Google Maps repo:

 - https://github.com/doublesecretagency/craft-googlemaps/issues/8

[2021-02-26 17:47] #38 closed

[2021-02-26 17:57] lindseydiloreto commented on #67
This issue has been migrated to the Google Maps repo. To stay up-to-date, subscribe over there...

 - https://github.com/doublesecretagency/craft-googlemaps/issues/9

[2021-02-26 17:57] #67 closed

[2021-02-26 19:27] lindseydiloreto commented on #20
This is done in the new [Google Maps](https://plugins.craftcms.com/google-maps) plugin! The `zoom` value is now a standard part of the [Address Model](https://plugins.doublesecretagency.com/google-maps/models/address-model/).

You can see the new **Zoom** subfield next to the coordinates in the graphic below...

<img alt="Annotated Address Field" width="800" src="https://user-images.githubusercont

[2021-02-26 19:27] #20 closed

[2021-02-27 05:51] lindseydiloreto commented on #69
This has been fixed in the new Google Maps plugin **v4.0.1**.

 - https://github.com/doublesecretagency/craft-googlemaps/issues/7

[2021-02-27 05:51] #69 closed

[2021-02-27 23:44] lindseydiloreto commented on #22
This issue has been migrated to the Google Maps repo. To stay up-to-date, subscribe over there...

 - https://github.com/doublesecretagency/craft-googlemaps/issues/11

[2021-02-27 23:44] #22 closed

[2021-02-27 23:47] lindseydiloreto commented on #14
This issue has been migrated to the Google Maps repo. To stay up-to-date, subscribe over there...

- https://github.com/doublesecretagency/craft-googlemaps/issues/3

[2021-02-27 23:47] #14 closed

[2021-02-28 00:01] lindseydiloreto commented on #13
Good news, this is all done in the new [Google Maps](https://plugins.doublesecretagency.com/google-maps/address-field/) plugin! The new Address field is highly configurable...

<img alt="Address field" width="603" src="https://user-images.githubusercontent.com/5309692/109403773-65d9a000-7914-11eb-869b-7a390652a517.gif">

[2021-02-28 00:01] #13 closed

[2021-02-28 00:15] lindseydiloreto commented on #39
We just released the new Google Maps plugin this week, and the [proximity search](https://plugins.doublesecretagency.com/google-maps/proximity-search/) functionality is much more flexible that it was previously. It's obviously been awhile since you dealt with this issue, but I'm about 90% confident that it would be smoother and easier to deal with in the new plugin.

Here's a rundown of the modern

[2021-02-28 00:15] #39 closed

[2021-02-28 00:26] lindseydiloreto commented on #15
This issue has been migrated to the Google Maps repo. To stay up-to-date, subscribe over there...

- https://github.com/doublesecretagency/craft-googlemaps/issues/12

[2021-02-28 00:26] #15 closed

[2021-02-28 00:48] lindseydiloreto commented on #70
Now that the Google Maps plugin has been released, go ahead and give it another shot with that version.

The new [proximity search](https://plugins.doublesecretagency.com/google-maps/proximity-search/) behavior is a bit more flexible now. Feel free to DM me if you hit any snags!

[2021-02-28 00:48] #70 closed

[2021-03-01 08:27] lindseydiloreto commented on #43
Good news, this is done in the new Google Maps plugin! It's now super easy to change the language of a map.

 - [Changing the Map Language](https://plugins.doublesecretagency.com/google-maps/guides/changing-map-language/)

[code]

[2021-03-01 08:27] #43 closed

[2021-03-20 05:17] lindseydiloreto commented on #61
So I hadn't quite approached this issue yet, but @carlcs beat me to it! He filed a [pull request](https://github.com/doublesecretagency/craft-googlemaps/pull/18) on the new Google Maps plugin, which basically covers your original feature request!

As I noted in the PR thread, I plan to do a little more tweaking before pushing the new feature live. Mainly, I want to change where the language contro

[2021-03-20 05:17] #61 closed

[2021-03-20 05:28] lindseydiloreto commented on #66
This issue has been migrated to the Google Maps repo. To stay up-to-date, subscribe over there...

- https://github.com/doublesecretagency/craft-googlemaps/issues/21

[2021-03-20 05:28] #66 closed

[2021-03-27 23:22] lindseydiloreto commented on #61
Following up, this was included in the [v4.0.5](https://github.com/doublesecretagency/craft-googlemaps/releases/tag/4.0.5) release. 👍

For more information, take a look at the [`fieldParams`](https://plugins.doublesecretagency.com/google-maps/getting-started/config/#fieldparams) config setting.